<div class="projectroles">
    <div class="row rolepermission">
        <div class="col-11 rolepermissiontag">Role Permissions</div>
    </div>
    <div class="row">
        <div class="col-11 projectmanager">
            <span class="icondesign glyphicon p-3 glyphicon-chevron-left"></span>
            <span class="pmlabel">Project Manager - 2 Role(s)</span>
            <span class="icondesign glyphicon glyphicon-plus p-3"></span>
            <span class="icondesign glyphicon glyphicon-pencil p-3"></span>
            <span class="icondesign glyphicon glyphicon-trash p-3"></span>
        </div>
    </div>
    <div class="row">
        <div class="teamlead col-8">
            <span class="pmlabel">Team Lead - 5 User(s)</span>
        </div>
        <span class="icondesign glyphicon glyphicon-plus p-3"></span>
        <span class="icondesign glyphicon glyphicon-pencil p-3"></span>
        <span class="icondesign glyphicon glyphicon-trash p-3"></span>
    </div>

    <div class="row">
        <div class="col-1 roleline"></div>
        <div class="col-8">
            <div class="teamtask">
                <span class="tasklabel">Task - 21 Action(s)</span>
            </div>
            <div class="checkbox allcheckbox row">
                <label class=""><input type="checkbox" value="">All</label>
            </div>
            <div class="row">
                <!-- <div class="col-2 roleline"></div> -->
                <div class="col-9 taskdetails">
                    <div class="row">
                        <div class="col-3 tasktable">
                            <div class="row" style="border-bottom: 1px dotted #8c8b8b;">
                                <span class="col-3 glyphicon glyphicon-eye-open"></span>
                                <label class="col-9">View</label>
                            </div>
                            <div class="row overflow-auto">
                                <input class="col-3" type="checkbox" value="calendar">
                                <label class="col-9">Calendar</label>
                                <input class="col-3" type="checkbox" value="alltask" checked>
                                <label class="col-9">All Task</label>
                                <input class="col-3" type="checkbox" value="kanban">
                                <label class="col-9">Kanban</label>
                                <input class="col-3" type="checkbox" value="History">
                                <label class="col-9">History</label>
                                <input class="col-3" type="checkbox" value="kanban">
                                <label class="col-9">Kanban</label>
                            </div>
                        </div>
                        <div class="col-4 tasktable">
                            <div class="row" style="border-bottom: 1px dotted #8c8b8b;">
                                <span class="col-3 glyphicon glyphicon-pencil"></span>
                                <label class="col-9">Manage</label>
                            </div>
                            <div class="row overflow-auto">
                                <input class="col-3" type="checkbox" value="Create" checked>
                                <label class="col-9">Create</label>
                                <input class="col-3" type="checkbox" value="Edit">
                                <label class="col-9">Edit</label>
                                <input class="col-3" type="checkbox" value="addLabel">
                                <label class="col-9">Add Label</label>
                                <input class="col-3" type="checkbox" value="addLabel">
                                <label class="col-9"> Label</label>
                                <input class="col-3" type="checkbox" value="addLabel">
                                <label class="col-9">Hide Label</label>
                            </div>
                        </div>
                        <div class="col-4 tasktable">
                            <div class="row" style="border-bottom: 1px dotted #8c8b8b;">
                                <span class="col-3 glyphicon glyphicon-trash"></span>
                                <label class="col-9">Delete</label>
                            </div>
                            <div class="row overflow-auto">
                                <input class="col-3" type="checkbox" value="ActiveTask">
                                <label class="col-9">Active Task</label>
                                <input class="col-3" type="checkbox" value="DeleteTask" checked>
                                <label class="col-9">Delete Task</label>
                                <input class="col-3" type="checkbox" value="deleteActiveTask">
                                <label class="col-9">Delete Active Task</label>
                                <input class="col-3" type="checkbox" value="deleteInActiveTask">
                                <label class="col-9">Delete InActive Task</label>
                                <input class="col-3" type="checkbox" value="InActivesTask">
                                <label class="col-9">InActive Task</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>